<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>WAF Admin Login</title>
</head>
<body>

    <h1>Admin Login</h1>

    <form method="post" action="/admin/login">
        <input
            type="text"
            name="username"
            placeholder="Kullanıcı adı"
        >

        <input
            type="password"
            name="password"
            placeholder="Şifre"
        >

        <button type="submit">
            Giriş
        </button>
    </form>

</body>
</html>